In [1]:
import pandas as pd
import numpy as np

In [2]:
names = np.array(['Ali', 'Ayna', 'Arslan', 'Mira', 'Begench'])
ages = np.array([19, 21, 20, 22, 23])
scores = np.array([88, 92, 80, 95, 85])

In [14]:
#dataframe
df=pd.DataFrame({
    'name':names,
    'age':ages,
    'scores':scores})
print(df)

      name  age  scores
0      Ali   19      88
1     Ayna   21      92
2   Arslan   20      80
3     Mira   22      95
4  Begench   23      85

In [15]:
mean_score=np.mean(scores)
print("Average score",mean_score)

Average score 88.0

In [18]:
high_scores=df[df['scores']>85]
print("Scores >85")
print(high_scores)

Scores >85
   name  age  scores
0   Ali   19      88
1  Ayna   21      92
3  Mira   22      95

In [21]:
df['passed'] = df['scores'] >= 85
print("\nTäze sütun goşulandan soň:")
print(df)

Täze sütun goşulandan soň:
      name  age  scores  passed
0      Ali   19      88    True
1     Ayna   21      92    True
2   Arslan   20      80   False
3     Mira   22      95    True
4  Begench   23      85    True